<p>
  shopping-edit works!
</p>

<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" #inputName>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" #inputAmount>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="button" (click)="Add()">Add</button>
          <button class="btn btn-warn" type="button">Edit</button>
          <button class="btn btn-danger" type="button">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>